.student{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    border:1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.student .id{
    padding:10px;
    background: lightpink;
    color:whitesmoke;
    width: 36px;
    text-align: center;
}
.student .name{
    padding:10px;
}
.student .img img{
    padding: 5px;
    height: 40px;
    
}
.student-list{
    display:inline-block;

}
.student:hover .id{
    background: rgb(226, 63, 231);
} 
.student:hover .name{
    background: rgb(178, 139, 240)
}